@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #fefae0;
}

button {
  background-color: #e9edc9;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  border-width: 1px;
  padding: 5px 20px;
  border-radius: 7px;
  border-color: #d4a373;
  color: #773e06;
  font-weight: 550;
  transition: background-color 0.25s ease;
}

button:hover {
  background-color: #d4a373;
  border-color: #e9edc9;
  border: 3px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  border-bottom: 2px solid #86935c;
  height: 10vh;
  background-color: #d1aa83e4;
}


footer {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20vw;
  background-color: #d1aa83e4;
  border-top: 2px solid #86935c;
}

footer img {
  max-height: 5vh;
}

.search {
  display: block;
  margin: 20px auto;
  width: 100vw;
  height: 4vh;
  padding: 0 5px;
  text-align: center;
}

.search input {
  border-radius: 10px;
  border: 2px solid #86935c;
  width: 40vw;
  height: 3vh;
  margin-right: 15px;
  background-color: #e9edc9;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 5px 15px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.volunteerDetails {
  margin: 5vh auto;
  width: 60vw;
  height: 85vh;
  overflow: scroll;
  padding: 1em;
  border: 1px solid darkgrey;
  background-color: white;
  position: relative;
}

.detailsTop {
  display: flex;
  justify-content: space-between;
}

.volunteerDetails img {
  max-width: 50%;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.closeButton:hover {
  background-color: rgba(255, 255, 255, 0.629);
}

.hidden {
  display: none;
}

.points {
  text-align: right;
  font-size: 2em;
  font-weight: 700;
}

table {
  border: 1px solid black;
  width: 100%;
}

td {
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #eee;
}

.volunteerGrid {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  height: 78vh;
  gap: 40px 10px;
  margin: auto;
  justify-content: space-evenly;
  overflow: scroll;

  background-color: #fefae0;
  padding: 10px 0 10px;
}

.volunteerCard {
  width: 20vw;
  max-height: 58vh;
  background-color: #ccd5ae;
  cursor: pointer;
  border-radius: 30px;
  transition: transform 0.1s ease;
  border: 2px solid #86935c;
}

h2.small {
  font-size: 1.2em;
  line-height: 1.75em;
}

.volunteerCard:hover {
  transform: scale(1.01);
}

.details {
  padding: 10px;
}

img {
  width: 100%;
  height: auto;
}

.imageFrame {
  max-height: 30vh;
  overflow: hidden;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.score {
  text-align: right;
  font-size: 2em;
  font-weight: 700;
}

.newVolunteer {
  width: 80%;
  height: 77vh;
  margin: auto;
  text-align: center;
}

.newVolunteer form {
  border: 1px solid darkgrey;
  border-radius: 30px;
  border-width: 2px;
  padding: 2em 4em;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #CCD5AE;
}

.newVolunteer input[type='text'] {
  width: 100%;
  margin-bottom: 2.25em;
  padding-left: 0.5em;
  height: 2em;
  font-size: 1em;
  border-radius: 7px;
  border-width: 1px;
  background-color: #eeefe7;
}

.newVolunteer button[type='submit'] {
  height: 50px;
  border-radius: 20px;
  width: 170px;
  font-size: medium;
}

.newVolunteer label {
  font-weight: 600;
  align-self: start;
}


.landingText {
  height: 70vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 10vh;
  width: 100%;
  color: #c97b2c;
  font-size: xx-large;
}

.landingText h1 {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 125px;
}

.landingText p {
  margin-top: 0;
  font-size: 50px;
  font-weight: 500;
}

.landingText button {
  background-color: #e9edc9ab;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 200px;
  margin: 20px auto;
  border-style: none;
  height: 60px;
  border-radius: 20px;
  color: white;
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
  border-color: #d4a373;
  color: #d28a41;
  font-weight: 550;
  transition: background-color 0.25s ease;
  margin-top: 50px;
}

.landingText button:hover {
  background-color: #d2ad87c5;
  border-color: #e9edc9;
  border: 3px;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.logIn input {
  border-radius: 7px;
}

.logIn button {
  border-radius: 7px;
  border-style: solid;
}

.tooltipContainer {
  position: relative;
}

.tooltipText {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s;
  position: absolute;
  top: -4em;
  left: -1em;
  background-color: white;
  font-weight: 500;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  background-color: #cfd6b8c5;
  border: 2px solid #86935ca7;
  font-size: smaller;
}

.tooltipContainer:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

