body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  border-bottom: 1px solid lightgrey;
}

.search {
  display: block;
  margin: 20px auto;
  width: 30vw;
  height: 4vh;
  border-radius: 5px;
  padding: 0 5px;
}

.volunteerDetails {
  margin: auto;
  width: 50vw;
  height: 80vh;
  overflow: scroll;
  padding: 1em;
  border: 1px solid darkgrey;
  display: flex;
  flex-direction: column;
}

.points {
  align-self: end;
  font-size: 2em;
  font-weight: 700;
}

table {
  border: 1px solid black;
  width: 100%;
}

td {
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #eee;
}

.volunteerGrid {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  height: 80vh;
  border: 1px solid black;
  gap: 10px;
  margin: auto;
  justify-content: space-between;
  overflow: scroll;
}

.volunteerCard {
  width: 20vw;
  background-color: rgba(0, 30, 255, 0.117);
  padding: 5px;

}

img {
  width: 100%;
  height: auto;
}

.imageFrame {
  max-height: 30vh;
  overflow: hidden;
}

.score {
  text-align: right;
  font-size: 2em;
  font-weight: 700;
}